Repository FactorioBlueprints/factorio-prints: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-yaml
            args: ['--allow-multiple-documents']
          - id: check-json
            # Exclude JSONC files (JSON with Comments) as they need comment support
            exclude: "tsconfig.*\\.json|package-lock\\.json|biome\\.jsonc"
          - id: check-toml
          - id: check-xml
          - id: end-of-file-fixer
            exclude: "package-lock\\.json|^\\.idea/"
          - id: trailing-whitespace
            exclude: "package-lock\\.json|^\\.idea/"
          - id: check-added-large-files
            args: ['--maxkb=1000']
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: detect-private-key
          - id: mixed-line-ending
            args: ['--fix=lf']

    - repo: local
      hooks:
          - id: biome
            name: biome
            entry: npx biome format --write
            language: system
            types: [file]
            files: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$
            exclude: "package(-lock)?\\.json"

          - id: prettier
            name: prettier
            entry: npx prettier --write
            language: system
            types_or: [yaml, markdown, html]

          - id: eslint
            name: eslint
            entry: bash -c 'npx --no-install eslint --fix "$@"' --
            language: system
            files: \.(js|jsx|ts|tsx|mjs|cjs)$
            types: [file]

Remove npm from mise config to match template.
  .mise/config.toml
Due: none

Add install recipe to ensure npm dependencies are reinstalled.
  justfile
Due: none

Update just version from 1.42.4 to 1.45.0
  .mise/config.toml
Due: none

Update node version from 22.13.1 to 24.11.1.
  .mise/config.toml
Due: none

Add prebuild script and fix POSIX shell compatibility.
  package.json
Due: none

Add RichText parsing to grid view thumbnail titles.
  src/components/BlueprintThumbnail.js
  src/components/FactorioPrintsThumbnail.js
Due: biome, eslint

Add Prettier configuration files.
  .prettierignore
  .prettierrc.json5
Due: biome

Add .pre-commit-config.yaml.
  .pre-commit-config.yaml
Due: prettier

Rename build recipe to deploy-rsync-ui.
  justfile
Due: none

Link Advanced Search results to factorioprints.com.
  src/components/FactorioPrintsThumbnail.js
  src/components/search/SearchResults.js
Due: biome, eslint

Add quality icon support to Blueprint Titles in detail view.
  src/components/single/BlueprintContentHeader.tsx
Due: biome, eslint

Pinned biome to exact version 2.3.8 (removed caret), updated prettier to 3.7.4 and typescript to 5.9.3.
  package-lock.json
  package.json
Due: none

Add mise config with just and node tool versions.
  .mise/config.toml
Due: none

Update REACT_APP_REST_URL to point to factorioprints.xyz backend.
  .env
  .env.production
Due: none

Add advanced search functionality connecting to factorio.school REST API.
  src/api/rest/client.ts
  src/api/rest/config.ts
  src/api/rest/types.ts
  src/components/Contributors.tsx
  src/components/DuplicatesGrid.tsx
  src/components/Header.tsx
  src/components/search/BlueprintTypeSelect.tsx
  src/components/search/EntityFilterSelect.tsx
  src/components/search/ModFilterSelect.tsx
  src/components/search/RecipeFilterSelect.tsx
  src/components/search/RestBlueprintThumbnail.tsx
  src/components/search/SearchPagination.tsx
  src/components/search/SearchQueryPanel.tsx
  src/components/search/SearchResultsGrid.tsx
  src/components/search/SearchTextInput.tsx
  src/components/search/SortOrderSelect.tsx
  src/components/search/TagFilterSelect.tsx
  src/components/search/VersionFilterSelect.tsx
  src/data/gameVersions.json
  src/hooks/useAdvancedSearch.ts
  src/hooks/useDuplicates.ts
  src/hooks/useEntityOptions.ts
  src/hooks/useRecipeOptions.ts
  src/hooks/useRestTags.ts
  src/routes/contributors.tsx
  src/routes/duplicates.tsx
  src/routes/search.tsx
  src/store/advancedSearchStore.ts
  src/store/searchParamsStore.ts
Due: biome, eslint

Update search page styling to match production visual design.
  src/components/search/BlueprintTypeSelect.tsx
  src/components/search/EntityFilterSelect.tsx
  src/components/search/ModFilterSelect.tsx
  src/components/search/RecipeFilterSelect.tsx
  src/components/search/SearchQueryPanel.tsx
  src/components/search/SearchTextInput.tsx
  src/components/search/SortOrderSelect.tsx
  src/components/search/TagFilterSelect.tsx
  src/components/search/VersionFilterSelect.tsx
  src/components/search/reactSelectDarkTheme.ts
  src/store/advancedSearchStore.ts
Due: biome, eslint

Fix Bootstrap version mismatch by upgrading Bootswatch CDN from 4.3.1 to 5.2.3.
  index.html
Due: prettier

Fix REST API schema validation and remove custom dark theme styling.
  src/api/rest/types.ts
  src/components/search/EntityFilterSelect.tsx
  src/components/search/RecipeFilterSelect.tsx
  src/components/search/RestBlueprintThumbnail.tsx
  src/components/search/TagFilterSelect.tsx
  src/components/search/VersionFilterSelect.tsx
  src/components/search/reactSelectDarkTheme.ts
Due: biome, eslint

Migrate from JavaScript/prop-types to TypeScript.
  src/css/style.css
  src/css/style.styl
Due: none

Add build recipe to justfile precommit checks.
  justfile
Due: none

Fix advanced search auto-execution on page load.
  src/store/advancedSearchStore.ts
Due: biome, eslint
