Repository FactorioBlueprints/factorio-prints: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, eslint

biome:
  name: biome format & lint
  entry: npx biome check --write
  language: system
  pass_filenames: true

eslint:
  name: eslint additional rules
  entry: npx eslint
  language: system
  args:
  - --fix

Implement user favorites page with route and grid display.
  src/components/UserFavoritesGrid.tsx
  src/routes/favorites.$userId.tsx
Due: biome, eslint

Fix routing structure for user favorites pages.
  src/routes/favorites.index.tsx
  src/routes/favorites.tsx
Due: biome, eslint

Allow users to submit blueprints that fail parsing.
  src/components/Create.tsx
Due: biome, eslint

Remove unnecessary comments per code style guidelines.
  src/components/Account.tsx
  src/components/EditBlueprint.tsx
  src/helpers/generateTagSuggestions.ts
  src/hooks/useBlueprintCacheSync.ts
  src/hooks/useCreateBlueprint.ts
  src/localStorage.ts
  src/main.tsx
  src/parsing/blueprintParser.ts
  src/routes/edit.$blueprintId.tsx
  src/routes/user.$userId.tsx
Due: biome, eslint

Remove remaining CRA-specific code patterns.
  CONTRIBUTING.md
  public/index.html
Due: none

Fix screenshot card preview rendering issue.
  src/components/Create.tsx
  src/components/EditBlueprint.tsx
Due: biome, eslint

Fix IndexedDB backing store error handling.
  src/localStorage.worker.ts
Due: biome, eslint

Fix worker.onerror to report errors to Sentry.
  src/localStorage.ts
Due: biome, eslint

Configure dependabot to ignore eslint-annotate-action@3.0.0 upgrade.
  .github/dependabot.yml
Due: none

Sync build and linter configuration with other projects.
  .gitignore
  .idea/shelf/Render_data_URI_thumbnails_during_upload__WIP_.xml
  .idea/shelf/Render_data_URI_thumbnails_during_upload__WIP_/shelved.patch
  .idea/shelf/Render_data_URI_thumbnails_during_upload__WIP_2.xml
  .idea/shelf/Render_data_URI_thumbnails_during_upload__WIP_2/shelved.patch
  .npmrc
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.json5
  CONTRIBUTING.md
  biome.jsonc
  index.html
  justfile
  package-lock.json
  package.json
Due: biome

Sync build and linter configuration with other projects.
  package-lock.json
  package.json
Due: biome

Sync build and linter configuration with other projects.
  .github/workflows/merge-group.yml
Due: none

Fix screenshot card showing previous image when pasting new Imgur URL.
  src/components/Create.tsx
  src/components/EditBlueprint.tsx
Due: biome, eslint

Replace mocking library with simple console capture in schema tests.
  src/schemas.test.ts
  src/schemas.ts
Due: biome, eslint

Remove redundant eslint config.
  eslint.config.ts
Due: biome, eslint

Replace ESLint and Prettier with Biome in pre-commit hooks.
  justfile
Due: none

Fix schema validation error logging to show actual errors instead of [object Object].
  src/Blueprint.ts
  src/components/EditBlueprint.tsx
  src/parsing/blueprintParser.ts
  src/schemas.ts
  src/utils/enrichBlueprint.ts
Due: biome, eslint

Lock down all dependency versions to exact versions.
  package-lock.json
  package.json
Due: biome

Extract components from SingleBlueprint into modular files.
  src/components/SingleBlueprint.tsx
  src/components/single/ActionButtons.tsx
  src/components/single/BlueprintActions.tsx
  src/components/single/PostInfoTable.tsx
  src/components/single/RequirementsTable.tsx
  src/components/single/UpgradePlannerTable.tsx
Due: biome, eslint

Replace Firebase shell commands with justfile recipes.
  CONTRIBUTING.md
  justfile
Due: none

Add Firebase data fetch and analysis recipe dependencies.
  .gitignore
  .just/analysis.just
  .just/firebase.just
Due: none

Refactor bash scripts to organized just recipes.
  .just/analysis.just
  .just/firebase.just
  deploy.sh
  detect-author-self-favorite.sh
  detect-summary-mismatch.sh
  justfile
  set-tags.sh
Due: none

Path conditions:
  biome: any of: \.(js|ts|jsx|tsx|json)$, but not: ^(package\.json)$
  eslint: any of: \.(js|ts|jsx|tsx)$
