Repository FactorioBlueprints/factorio-prints: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-yaml
            args: ['--allow-multiple-documents']
          - id: check-json
            # Exclude JSONC files (JSON with Comments) as they need comment support
            exclude: "tsconfig.*\\.json|package-lock\\.json|biome\\.jsonc"
          - id: check-toml
          - id: check-xml
          - id: end-of-file-fixer
            exclude: "package-lock\\.json|^\\.idea/"
          - id: trailing-whitespace
            exclude: "package-lock\\.json|^\\.idea/"
          - id: check-added-large-files
            args: ['--maxkb=1000']
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: detect-private-key
          - id: mixed-line-ending
            args: ['--fix=lf']

    - repo: local
      hooks:
          - id: biome
            name: biome
            entry: npx biome format --write
            language: system
            types: [file]
            files: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$
            exclude: "package(-lock)?\\.json"

          - id: prettier
            name: prettier
            entry: npx prettier --write
            language: system
            types_or: [yaml, markdown, html]

          - id: eslint
            name: eslint
            entry: npx eslint --fix
            language: system
            files: \.(js|jsx|ts|tsx|mjs|cjs)$
            types: [file]

Add Imgur URL parsing and API integration for hash fragments.
  src/components/Create.test.jsx
  src/components/Create.tsx
  src/components/EditBlueprint.test.jsx
  src/components/EditBlueprint.tsx
  src/helpers/buildImageUrl.test.ts
  src/helpers/buildImageUrl.ts
  src/helpers/parseImgurUrl.test.ts
  src/helpers/parseImgurUrl.ts
  src/hooks/useCreateBlueprint.ts
  src/hooks/useUpdateBlueprint.ts
  src/schemas.enhanced-image.test.ts
  src/schemas.ts
  src/services/imgurResolver.test.ts
  src/services/imgurResolver.ts
  src/utils/enrichBlueprint.ts
  src/utils/enrichBlueprintSummary.test.ts
  src/utils/enrichBlueprintSummary.ts
  test/setup.ts
  vite.config.ts
Due: biome, eslint

Resolve merge conflicts from rebase
  src/components/EditBlueprint.tsx
  src/hooks/useUpdateBlueprint.ts
Due: biome, eslint

Add environment configuration to Sentry SDK and Vite plugin.
  src/main.tsx
  vite.config.ts
Due: biome, eslint

Disable prefetching for blueprint thumbnail links.
  src/components/BlueprintThumbnail.tsx
Due: biome, eslint

Remove mocking from schema tests.
  src/schemas.test.ts
Due: biome, eslint

Fix ESLint pre-commit hook by using npm run lint instead of npx.
  .pre-commit-config.yaml
Due: prettier

Add CDN stale tolerance for data less than one second old.
  src/api/firebase.ts
Due: biome, eslint

Modernize React 19 features with native metadata and optimistic UI.
  src/components/NoMatch.tsx
  src/components/Root.tsx
  src/components/SingleBlueprint.tsx
  src/components/single/BlueprintNotFound.tsx
  src/hooks/useToggleFavoriteMutation.ts
Due: biome, eslint

Bump cache buster to 7 to fix stale cache state issues.
  src/localStorage.ts
Due: biome, eslint

Invalidate paginated blueprint summaries cache when favorites change.
  src/hooks/useToggleFavoriteMutation.ts
Due: biome, eslint

Fix justfile recipe names in .github/workflows/deploy.yml.
  .github/workflows/deploy.yml
Due: prettier

Add justfile recipe to download Firebase tags.
  justfile
Due: none

Add email authentication flow using Firebase email link sign-in.
  src/components/Account.tsx
  src/components/Header.tsx
  src/routes/auth.email-callback.tsx
Due: biome, eslint

Improve just invocation in .github/workflows/deploy.yml.
  .github/workflows/deploy.yml
Due: prettier

Migrate static hosting from Firebase to Cloudflare Pages.
  .github/workflows/cloudflare-pages.yml
  justfile
  package-lock.json
  package.json
  public/_headers
  public/_redirects
  vite.config.ts
  wrangler.toml
Due: biome, prettier, eslint

Add hot blueprints search with Reddit-style scoring algorithm.
  src/components/Header.tsx
  src/components/HotBlueprintsGrid.tsx
  src/hooks/useHotBlueprintSummaries.ts
  src/routes/hot.tsx
Due: biome, eslint

Optimize CDN fetching by checking watermark date first.
  src/api/firebase.test.ts
  src/api/firebase.ts
Due: biome, eslint

Sync build and linter configuration with other projects.
  .github/dependabot.yml
  eslint.config.ts
  tsconfig.eslint.json
  tsconfig.json
Due: biome, prettier, eslint

Replace tagged view with efficient single tag implementation.
  src/components/SingleTagGrid.tsx
  src/router.test.ts
  src/routes/tagged.$category.$name.tsx
Due: biome, eslint

Add high-watermark tracking for recent blueprint detection.
  src/api/firebase.ts
  src/components/Root.tsx
  src/hooks/useHighWatermarkSync.ts
  src/hooks/useRawPaginatedBlueprintSummaries.ts
  src/localStorage.ts
Due: biome, eslint

Add blueprint preview to Create page after pasting blueprint string.
  src/components/Create.tsx
Due: biome, eslint

Enhance schema validation error messages with actual failing values and types. Add browser console logging of entire failing objects with smart truncation.
  src/schemas.test.ts
  src/schemas.ts
Due: biome, eslint

Sync build and linter configuration with other projects.
  .github/dependabot.yml
  eslint.config.ts
  public/service-worker.ts
  tsconfig.eslint.json
  tsconfig.json
Due: biome, prettier, eslint

Fix blueprint icon schema validation and improve error logging.
  src/components/blueprint/panels/info/ExtraInfoPanel.tsx
  src/schemas.test.ts
  src/schemas.ts
Due: biome, eslint
