Repository FactorioBlueprints/factorio-prints: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

biome:
  name: biome
  entry: npx biome format --write
  language: system

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: bash -c 'npx --no-install eslint --fix "$@"' --
  language: system

Upgrade the development Node.js toolchain from 26.5.0 to 26.5.1.
  .mise/config.toml
Due: none

Sync AGENTS.md with the latest version of vp.
  AGENTS.md
Due: prettier

Add the rebase-tracking recipe to the factorio-prints.com Justfile.
  justfile
Due: none

Set TERM in mise config so Justfile color commands work in CI.
  .mise/config.toml
Due: none

Add playground button to open blueprints in external editor.
  src/components/SingleBlueprint.tsx
  src/components/single/BlueprintActions.tsx
Due: biome, eslint

Align blueprint action toolbar with the details column on desktop.
  src/components/single/BlueprintActions.tsx
Due: biome, eslint

Filter DOM manipulation errors from Sentry (Fixes FACTORIO-SCHOOL-5, FACTORIO-SCHOOL-2).
  src/index.js
Due: biome, eslint

Handle chunk load errors with an error boundary and auto-reload, with tests.
  package-lock.json
  package.json
  src/components/ChunkErrorBoundary.js
  src/components/ChunkErrorBoundary.test.tsx
  src/components/Root.tsx
  src/index.js
  src/utils/errorFiltering.test.ts
  src/utils/errorFiltering.ts
Due: biome, eslint

Restrict blueprintsPrivate reads to the blueprint owner and moderators.
  database.rules.json
  test/database.rules.emulator.mjs
Due: biome, eslint

Replace the world-writable byTag index with owner-scoped rules at the real tag depth.
  database.rules.json
  test/database.rules.emulator.mjs
Due: biome, eslint

Add staging build mode and Firebase emulator ports for functions and the emulator UI.
  .env.staging.example
  .gitignore
  firebase.json
  package.json
Due: biome

Bump Vite+ to 0.2.8 across the catalog, the core alias, and the mise-pinned CLI.
  .mise/config.toml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Filter Vite asset preload failures from Sentry as unactionable errors.
  src/utils/sentryFiltering.test.ts
  src/utils/sentryFiltering.ts
Due: biome, eslint

Report schema validation failures as one bounded structured Sentry event.
  src/schemas.test.ts
  src/schemas.ts
  src/utils/enrichTags.test.ts
Due: biome, eslint

Sync template-managed configuration from the TypeScript template.
  .fallowrc.json
  .fallowrc.jsonc
  .pre-commit-config.yaml
  .yamllint.yaml
  justfile
  package.json
  scripts/configure-github.sh
Due: biome, prettier

Implement Firebase Cloud Functions for byTag management.
  database.rules.json
  functions/package.json
  functions/src/index.ts
  functions/src/tag-index.ts
  functions/test/tag-index.node-test.cjs
  src/components/EditBlueprint.tsx
  src/hooks/useCreateBlueprint.test.tsx
  src/hooks/useCreateBlueprint.ts
  src/hooks/useDeleteBlueprint.cache-consistency.test.tsx
  src/hooks/useDeleteBlueprint.test.tsx
  src/hooks/useDeleteBlueprint.user-page-cache.test.tsx
  src/hooks/useTagOperations.cache-consistency.test.tsx
  src/hooks/useUpdateBlueprint.test.tsx
  src/hooks/useUpdateBlueprint.ts
  test/database.rules.emulator.mjs
Due: biome, eslint

Replace tagged view with efficient single tag implementation.
  src/components/SingleTagGrid.test.tsx
  src/components/SingleTagGrid.tsx
  src/router.test.ts
  src/routes/tag.$tag.tsx
  src/routes/tagged.$category.$name.tsx
Due: biome, eslint

Add an offline streaming scanner for blueprints with broken Imgur links.
  .gitignore
  README-broken-imgur-finder.md
  package.json
  pnpm-lock.yaml
  src/broken-imgur-finder-streaming-resumable.ts
  src/broken-imgur-finder-streaming.ts
  src/check-specific-blueprint.ts
  src/test-broken-imgur-finder-streaming.ts
Due: biome, prettier, eslint

Add an interactive workflow for repairing broken Imgur links.
  .gitignore
  README-broken-imgur-finder.md
  package.json
  src/fix-broken-imgur-interactive.ts
Due: biome, prettier, eslint

Add authenticated and anonymous Imgur API uploads to the repair workflow.
  README-broken-imgur-finder.md
  src/fix-broken-imgur-interactive.ts
Due: biome, prettier, eslint

Add a private collector index for efficient collection cleanup.
  database.rules.json
  functions/src/collectorIndex.ts
  functions/src/index.ts
  src/hooks/useToggleCollectionMutation.test.tsx
  src/hooks/useToggleCollectionMutation.ts
  test/collectorIndex.test.ts
  test/database.rules.emulator.mjs
Due: biome, eslint

Reject merge commits in pull requests.
  .github/workflows/pull-request.yml
Due: prettier

Centralize clipboard failure handling with user-visible feedback.
  package.json
  pnpm-lock.yaml
  src/components/MyCollectionGrid.tsx
  src/components/single/DetailsCard.test.tsx
  src/components/single/DetailsCard.tsx
  src/hooks/useCopyToClipboard.test.tsx
  src/hooks/useCopyToClipboard.ts
  src/utils/collectionBlueprintBook.ts
Due: biome, prettier, eslint

Treat expected authentication popup failures as user-facing outcomes.
  src/components/auth/AuthenticationForm.test.tsx
  src/hooks/useAuthProviders.tsx
  src/utils/sentryFiltering.test.ts
  src/utils/sentryFiltering.ts
Due: biome, eslint

Centralize unavailable local storage handling behind a safe capability boundary.
  src/components/WelcomeBanner.tsx
  src/hooks/useAuthProviders.tsx
  src/localStorage.test.ts
  src/localStorage.ts
  src/providers/QueryProvider.test.tsx
  src/providers/QueryProvider.tsx
  src/routes/auth.email-callback.tsx
Due: biome, eslint

Path conditions:
  biome: any of: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$, but not: package(-lock)?\.json
  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  eslint: any of: \.(js|jsx|ts|tsx|mjs|cjs)$
