Repository FactorioBlueprints/factorio-prints: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

biome:
  name: biome
  entry: npx biome format --write
  language: system

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: bash -c 'npx --no-install eslint --fix "$@"' --
  language: system

Install pnpm before running the Cloudflare production deployment action.
  .github/workflows/deploy-cloudflare.yml
Due: prettier

Restore Oxfmt checks across CI and production deployment gates.
  .github/workflows/deploy-cloudflare.yml
  .github/workflows/deploy.yml
  .github/workflows/merge-group.yml
  justfile
  package.json
Due: prettier

Align Oxfmt enforcement with the TypeScript template check workflow.
  .github/workflows/deploy-cloudflare.yml
  .github/workflows/deploy.yml
  .github/workflows/merge-group.yml
  justfile
  package.json
Due: prettier

Resolve transitive uuid and js-yaml dependency security advisories.
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Remove unused legacy lint and type-check CI entry points.
  justfile
  package.json
Due: none

Update contributor setup and commands for the Vite+ pnpm workflow.
  CONTRIBUTING.md
Due: prettier

Align Markdownlint configuration with the TypeScript project template.
  .markdownlint-cli2.jsonc
  .markdownlint.jsonc
  CONTRIBUTING.md
Due: prettier

Migrate Cloudflare branch deployments to the Vite+ pnpm toolchain.
  .github/workflows/cloudflare-pages.yml
Due: prettier

Replace legacy Firebase Admin namespace calls with modular imports.
  functions/src/index.ts
Due: biome, eslint

Upgrade the Cloud Functions SDK to version 7.3.2 and refresh its lockfile.
  functions/package-lock.json
  functions/package.json
Due: none

Move the Cloud Functions runtime from Node.js 20 to Node.js 22.
  functions/package-lock.json
  functions/package.json
Due: none

Upgrade Firebase Admin to version 14.2.0 and refresh its lockfile.
  functions/package-lock.json
  functions/package.json
Due: none

Align Vite and Vitest pins with the Vite+ 0.2.6 toolchain.
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Configure Dependabot version updates for Cloud Functions dependencies.
  .github/dependabot.yml
Due: prettier

Refresh Cloud Functions ESLint and transitive dependency resolutions.
  functions/package-lock.json
Due: none

Enforce minimum package release ages and remove stale Dependabot rules.
  .github/dependabot.yml
  .mise/config.toml
  package.json
  pnpm-workspace.yaml
Due: prettier

Align the pinned Vite+ CLI version with the project test runner.
  .mise/config.toml
Due: none

Verify Firebase Functions deployability before production releases.
  .fallowrc.json
  .github/workflows/deploy-cloudflare.yml
  .github/workflows/deploy.yml
  .github/workflows/merge-group.yml
  functions/package-lock.json
  functions/package.json
  functions/scripts/verify-runtime.cjs
  justfile
  package.json
Due: biome, prettier, eslint

Update client to only write favorites to /users/{userId}/favorites/{blueprintId}.
  src/hooks/useToggleFavoriteMutation.test.tsx
  src/hooks/useToggleFavoriteMutation.ts
Due: biome, eslint

Secure favorite count reconciliation with Firebase validation.
  .github/workflows/deploy-cloudflare.yml
  .github/workflows/deploy.yml
  .github/workflows/merge-group.yml
  .gitignore
  database.rules.json
  firebase.json
  functions/src/index.ts
  justfile
  package.json
  pnpm-lock.yaml
  src/api/firebase.test.ts
  src/api/firebase.ts
  test/database.rules.emulator.mjs
Due: biome, prettier, eslint

Remove Firebase Functions verification from the Cloudflare deployment workflow.
  .github/workflows/deploy-cloudflare.yml
Due: prettier

Upgrade the development Node.js toolchain from 26.5.0 to 26.5.1.
  .mise/config.toml
Due: none

Path conditions:
  biome: any of: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$, but not: package(-lock)?\.json
  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  eslint: any of: \.(js|jsx|ts|tsx|mjs|cjs)$
