Repository FactorioBlueprints/factorio-prints: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, eslint

biome:
  name: biome format & lint
  entry: npx biome check --write
  language: system
  pass_filenames: true

eslint:
  name: eslint additional rules
  entry: npx eslint
  language: system
  args:
  - --fix

Improve dependabot.yml.
  .github/dependabot.yml
Due: none

Add better test coverage of blueprint parsing.
  src/parsing/blueprintParser.test.ts
  src/parsing/blueprintParser.ts
Due: biome, eslint

Fix routing error by removing from parameter in navigate calls.
  src/components/Account.tsx
  src/components/EditBlueprint.tsx
  src/components/SingleBlueprint.tsx
  src/hooks/useDeleteBlueprint.cache-consistency.test.tsx
  src/hooks/useDeleteBlueprint.test.tsx
  src/hooks/useUpdateBlueprint.test.tsx
  src/hooks/useUpdateBlueprint.ts
Due: biome, eslint

Implement rich text rendering. Add a basic info panel with in-game information.
  src/components/BlueprintMarkdownDescription.tsx
  src/components/Create.tsx
  src/components/EditBlueprint.tsx
  src/components/SingleBlueprint.tsx
  src/components/blueprint/panels/info/BasicInfoPanel.tsx
  src/components/blueprint/panels/info/ExtraInfoPanel.tsx
  src/components/blueprint/panels/parameters/ParametersPanel.tsx
  src/components/core/icons/FactorioIcon.module.css
  src/components/core/icons/FactorioIcon.tsx
  src/components/core/text/MarkdownWithRichText.tsx
  src/components/core/text/RichText.tsx
  src/components/core/text/Version.tsx
  src/components/ui/Panel.tsx
  src/components/ui/index.ts
  src/parsing/BlueprintWrapper.ts
  src/parsing/types.ts
  src/schemas.ts
  src/types/factorio.ts
Due: biome, eslint

Fix cross-origin CSS access error in Sentry replay integration.
  src/main.tsx
Due: biome, eslint

Implement Titillium Web font from blueprint playground.
  index.html
  less/variables.less
  src/css/variables.less
Due: none

Implement Titillium Web font from blueprint playground.
  index.html
  less/variables.less
  package-lock.json
  package.json
  src/css/main.less
  src/css/style.css
  src/css/variables.less
  vite.config.ts
Due: biome, eslint

Fix setupTests reference from .js to .ts in vite config.
  vite.config.ts
Due: biome, eslint

Configure ESLint to defer formatting to Biome.
  biome.json
  eslint.config.ts
Due: biome, eslint

Add factorio-prints.com branch to push workflow triggers.
  .github/workflows/push.yml
Due: none

Add write permissions to create-tag workflow.
  .github/workflows/create-tag.yml
Due: none

Remove mocking of validators in tests and fix test data.
  src/hooks/useCreateBlueprint.test.tsx
  src/hooks/useDeleteBlueprint.cache-consistency.test.tsx
  src/hooks/useDeleteBlueprint.test.tsx
  src/hooks/useRawBlueprintSummaries.test.tsx
  src/hooks/useUpdateBlueprint.test.tsx
  src/utils/enrichBlueprintSummary.test.ts
Due: biome, eslint

Remove redundant ESLint and Biome rule configurations.
  biome.json
  eslint.config.ts
Due: biome, eslint

Move development dependencies to devDependencies.
  package-lock.json
  package.json
Due: biome

Split small components out of SingleBlueprint.
  src/api/firebase.ts
  src/components/SingleBlueprint.tsx
  src/components/single/BlueprintActions.tsx
  src/components/single/BlueprintNotFound.tsx
  src/components/single/CommentsSection.tsx
  src/components/single/DetailsCard.tsx
  src/components/single/PostInfoCard.tsx
  src/components/single/RequirementsCard.tsx
  src/components/single/TagsCard.tsx
  src/components/single/UpgradePlannerCard.tsx
  src/hooks/useReconcileFavorites.ts
Due: biome, eslint

Fix CI build by installing devDependencies for tsr command.
  justfile
Due: none

Implement TanStack Query pagination best practices.
  src/components/BlueprintGrid.tsx
  src/components/MostFavoritedGrid.tsx
  src/hooks/useRawPaginatedSummaries.ts
Due: biome, eslint

Upgrade @fortawesome/react-fontawesome to 0.2.3 to fix CI build.
  package-lock.json
  package.json
Due: biome

Fix Firebase deployment authentication in GitHub Actions.
  .github/workflows/deploy.yml
Due: none

Set timezone to America/New_York for date-based tags.
  .github/workflows/create-tag.yml
Due: none

Fix routing structure for user favorites pages.
  src/routes/favorites.index.tsx
  src/routes/favorites.tsx
Due: biome, eslint

Path conditions:
  biome: any of: \.(js|ts|jsx|tsx|json)$, but not: ^(package\.json)$
  eslint: any of: \.(js|ts|jsx|tsx)$
