Repository FactorioBlueprints/factorio-prints: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-yaml
            args: ['--allow-multiple-documents']
          - id: check-json
            # Exclude JSONC files (JSON with Comments) as they need comment support
            exclude: "tsconfig.*\\.json|package-lock\\.json|biome\\.jsonc"
          - id: check-toml
          - id: check-xml
          - id: end-of-file-fixer
            exclude: "package-lock\\.json|^\\.idea/"
          - id: trailing-whitespace
            exclude: "package-lock\\.json|^\\.idea/"
          - id: check-added-large-files
            args: ['--maxkb=1000']
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: detect-private-key
          - id: mixed-line-ending
            args: ['--fix=lf']

    - repo: local
      hooks:
          - id: biome
            name: biome
            entry: npx biome format --write
            language: system
            types: [file]
            files: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$
            exclude: "package(-lock)?\\.json"

          - id: prettier
            name: prettier
            entry: npx prettier --write
            language: system
            types_or: [yaml, markdown, html]

          - id: eslint
            name: eslint
            entry: bash -c 'npx --no-install eslint --fix "$@"' --
            language: system
            files: \.(js|jsx|ts|tsx|mjs|cjs)$
            types: [file]

Fix render-blocking assets by deferring CSS and JS loading.
  index.html
  package-lock.json
  vite.config.ts
Due: biome, prettier, eslint

Fix Sentry withScope errors with missing error context.
  src/main.tsx
Due: biome, eslint

Add firebase-tools to devDependencies for CI deploy.
  package-lock.json
  package.json
Due: none

Add group annotations to justfile recipes for better organization.
  justfile
Due: none

Add --force flag to firebase deploy for CI
  package.json
Due: none

Revert --force flag from firebase deploy
  package.json
Due: none

Fix HTML cache headers to prevent stale chunk errors.
  wrangler.toml
Due: none

Fix HTML cache headers for Firebase hosting.
  firebase.json
Due: biome

Update functions package-lock.json peer dependency metadata
  functions/package-lock.json
Due: none

Filter cross-origin stylesheet console warnings from Sentry.
  src/main.tsx
Due: biome, eslint

Upgrade Biome CLI from 2.2.0 to 2.3.8
  biome.jsonc
  package-lock.json
  vite.config.ts
Due: biome, eslint

Filter Safari IndexedDB and browser extension DOM errors from Sentry.
  package-lock.json
  src/main.tsx
Due: biome, eslint

Suppress stale chunk errors from Sentry
  src/main.tsx
Due: biome, eslint

Filter DOM manipulation errors from Sentry.
  package-lock.json
  src/main.tsx
Due: biome, eslint

Configure Cloudflare Pages to output to build directory.
  wrangler.toml
Due: none

Fix peer dependency conflicts for Cloudflare Pages build.
  .npmrc
  package-lock.json
  package.json
Due: none

Set up CI/CD workflows and improve Dependabot configuration.
  .github/dependabot.yml
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Due: prettier

Add wrangler.toml configuration for Cloudflare Pages build.
  wrangler.toml
Due: none

Update just version from 1.42.4 to 1.45.0
  .mise/config.toml
Due: none

Update node version from 22.13.1 to 24.11.1.
  .mise/config.toml
Due: none
