Repository FactorioBlueprints/factorio-prints: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

biome:
  name: biome
  entry: npx biome format --write
  language: system

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: bash -c 'npx --no-install eslint --fix "$@"' --
  language: system

Filter Java bridge method invocation errors from Sentry capture.
  src/main.tsx
Due: biome, eslint

Add autocomplete attribute to email input for password manager compatibility.
  src/components/auth/AuthenticationForm.tsx
Due: biome, eslint

Fix Firebase Database initialization errors with centralized error handling.
  src/api/firebase.ts
  src/components/Account.tsx
  src/components/Root.tsx
  src/hooks/useBlueprintFavorite.ts
  src/hooks/useCreateBlueprint.ts
  src/hooks/useToggleFavoriteMutation.test.tsx
  src/hooks/useToggleFavoriteMutation.ts
  src/hooks/useUpdateBlueprint.ts
  src/routes/__root.tsx
  src/utils/firebaseDatabase.ts
Due: biome, eslint

Fix Safari worker initialization with fallback strategies.
  src/localStorage.ts
  src/localStorage.worker.wrapper.ts
Due: biome, eslint

Remove deprecated @types/dompurify package and add allowSyntheticDefaultImports.
  package-lock.json
  package.json
  tsconfig.json
Due: biome

Fix IndexedDB connection lost error with automatic reconnection.
  src/localStorage.ts
  src/localStorage.worker.ts
Due: biome, eslint

Enable TypeScript strict mode configuration.
  tsconfig.json
Due: biome

Optimize IndexedDB cache persistence to prevent unnecessary writes.
  src/localStorage.ts
Due: biome, eslint

Add Firebase Cloud Functions infrastructure.
  .github/workflows/deploy.yml
  .gitignore
  eslint.config.ts
  functions/.eslintrc.js
  functions/.gitignore
  functions/index.js
  functions/package.json
  justfile
  package.json
Due: biome, prettier, eslint

Fix removeChild DOM error in tooltip cleanup.
  src/components/SafeOverlayTrigger.tsx
  src/schemas.ts
  src/utils/cleanupTooltips.ts
  test/setup.ts
Due: biome, eslint

Fix IndexedDB slow restore performance issue.
  src/localStorage.ts
  src/localStorage.worker.ts
  src/utils/dataCompression.ts
  test/setup.ts
  vite.config.ts
  vitest.config.ts
Due: biome, eslint

Fix stack overflow in data compression when processing large byte arrays.
  src/utils/dataCompression.ts
Due: biome, eslint

Fix IndexedDB error handling to prevent withScope errors.
  src/localStorage.ts
  src/main.tsx
Due: biome, eslint

Add GitHub navigation link.
  src/components/Header.tsx
Due: biome, eslint

Add Firebase Cloud Functions to maintain numberOfFavorites count.
  eslint.config.ts
  firebase.json
  functions/.gitignore
  functions/src/index.ts
Due: biome, eslint

Add index on .value for byTag queries in Firebase database rules.
  database.rules.json
Due: biome

Optimize CDN fetching by checking watermark date first.
  src/api/firebase.test.ts
  src/api/firebase.ts
Due: biome, eslint

Implement Firebase-based comment system to replace Disqus.
  .gitignore
  database.rules.json
  src/api/firebase.ts
  src/components/comments/Comment.tsx
  src/components/comments/CommentForm.tsx
  src/components/single/CommentsSection.tsx
  src/hooks/useComments.ts
  src/schemas.ts
  src/utils/comments.ts
Due: biome, eslint

Implement comment system with AI toxicity detection and conditional deletion.
  database.rules.json
  firebase.json
  functions/.gitignore
  functions/README.md
  functions/package.json
  functions/src/index.ts
  functions/src/openai-moderation.ts
  functions/test-openai.js
  functions/test-toxicity.js
  package-lock.json
  package.json
  src/api/firebase.ts
  src/components/comments/CommentForm.tsx
  src/hooks/useComments.ts
Due: biome, prettier, eslint

Add Disqus export and Firebase migration tooling.
  package-lock.json
  package.json
  scripts/README.md
  scripts/disqus-export.ts
  scripts/migrate-to-firebase.ts
  scripts/test-migration.ts
  tsconfig.json
Due: biome, prettier, eslint

Add quiet mode to migration script and fix Disqus export schema.
  biome.jsonc
  scripts/disqus-export.ts
  scripts/migrate-to-firebase.ts
  scripts/test-migration.ts
Due: biome, eslint

Import soft-deleted comments and fix process exit hang.
  scripts/disqus-export.ts
  scripts/migrate-to-firebase.ts
  scripts/run-migration.sh
Due: biome, eslint

Path conditions:
  biome: any of: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$, but not: package(-lock)?\.json
  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  eslint: any of: \.(js|jsx|ts|tsx|mjs|cjs)$
