Repository FactorioBlueprints/factorio-prints: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-yaml
            args: ['--allow-multiple-documents']
          - id: check-json
            # Exclude JSONC files (JSON with Comments) as they need comment support
            exclude: "tsconfig.*\\.json|package-lock\\.json|biome\\.jsonc"
          - id: check-toml
          - id: check-xml
          - id: end-of-file-fixer
            exclude: "package-lock\\.json|^\\.idea/"
          - id: trailing-whitespace
            exclude: "package-lock\\.json|^\\.idea/"
          - id: check-added-large-files
            args: ['--maxkb=1000']
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: detect-private-key
          - id: mixed-line-ending
            args: ['--fix=lf']

    - repo: local
      hooks:
          - id: biome
            name: biome
            entry: npx biome format --write
            language: system
            types: [file]
            files: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$
            exclude: "package(-lock)?\\.json"

          - id: prettier
            name: prettier
            entry: npx prettier --write
            language: system
            types_or: [yaml, markdown, html]

          - id: eslint
            name: eslint
            entry: bash -c 'npx --no-install eslint --fix "$@"' --
            language: system
            files: \.(js|jsx|ts|tsx|mjs|cjs)$
            types: [file]

Suppress Firebase Auth database-closing rejections during page lifecycle transitions.
  src/main.tsx
  src/utils/sentryFiltering.test.ts
  src/utils/sentryFiltering.ts
Due: biome, eslint

Prevent oversized worker cache payloads from causing repeated persistence failures.
  src/localStorage.test.ts
  src/localStorage.ts
Due: biome, eslint

Group mobile iOS inline recursion failures with stable Sentry diagnostics.
  src/main.tsx
  src/sentryConfig.test.ts
  src/utils/sentryFiltering.test.ts
  src/utils/sentryFiltering.ts
Due: biome, eslint

Filter externally identified Sentry noise without hiding first-party failures.
  src/main.tsx
  src/sentryConfig.test.ts
  src/utils/sentryFiltering.test.ts
  src/utils/sentryFiltering.ts
Due: biome, eslint

Add a resumable R2 backfiller for existing Imgur images and variants.
  package.json
  pnpm-lock.yaml
  scripts/backfillImages.ts
  scripts/imageBackfillCore.ts
  test/imageBackfillCore.test.ts
  tsconfig.json
Due: biome, prettier, eslint

Add a private R2 image gateway with deterministic Imgur fallback.
  .gitignore
  justfile
  package.json
  test/imageBackfillCore.test.ts
  workers/images/src/index.test.ts
  workers/images/src/index.ts
  workers/images/tsconfig.json
  workers/images/wrangler.jsonc
Due: biome, eslint

Route legacy image reads through the configurable R2 gateway.
  src/components/BlueprintThumbnail.tsx
  src/components/EditBlueprint.tsx
  src/components/search/RestBlueprintThumbnail.tsx
  src/helpers/buildImageUrl.test.ts
  src/helpers/buildImageUrl.ts
  src/hooks/useEnrichedPaginatedSummaries.test.tsx
  src/utils/enrichBlueprint.test.ts
  src/utils/enrichBlueprint.ts
  src/utils/enrichBlueprintSummary.test.ts
  src/utils/enrichBlueprintSummary.ts
  src/utils/enrichPaginatedBlueprintSummaries.test.ts
  src/vite-env.d.ts
Due: biome, eslint

Add bounded R2 image reconciliation and Imgur retirement controls.
  .github/workflows/image-reconciliation.yml
  package.json
  scripts/backfillImages.ts
  scripts/imageReconciliationCore.ts
  scripts/reconcileImages.ts
  test/imageReconciliationCore.test.ts
  workers/images/src/index.test.ts
  workers/images/src/index.ts
  workers/images/wrangler.jsonc
Due: biome, prettier, eslint

Add explicit R2 gateway environments and live deployment verification.
  .github/workflows/deploy-cloudflare.yml
  .github/workflows/deploy.yml
  package.json
  scripts/verifyImageGateway.ts
  test/imageGatewayVerification.test.ts
  workers/images/wrangler.jsonc
Due: biome, prettier, eslint

Point the blueprint editor button at the maintained fbe.factorygamefan.com fork, with tests.
  src/components/single/BlueprintContentHeader.test.tsx
  src/components/single/BlueprintContentHeader.tsx
Due: biome, eslint

Link each blueprint in a book into the fbe.factorygamefan.com editor, with tests.
  public/icons/fbe.png
  src/components/SingleBlueprint.tsx
  src/components/single/BlueprintContentHeader.test.tsx
  src/components/single/BlueprintContentHeader.tsx
  src/components/single/BlueprintTitles.test.tsx
  src/components/single/BlueprintTitles.tsx
  src/deploymentPayload.test.ts
  src/hooks/useBlueprintStringSha.test.ts
  src/hooks/useBlueprintStringSha.ts
  src/utils/sha1.test.ts
  src/utils/sha1.ts
Due: biome, eslint

Address the editor at factorioprints.xyz now that it passes those API urls through.
  src/components/single/BlueprintContentHeader.test.tsx
  src/components/single/BlueprintContentHeader.tsx
  src/components/single/BlueprintTitles.test.tsx
Due: biome, eslint

Keep the brand title on mobile and collapse the navigation at xl.
  src/components/Header.test.tsx
  src/components/Header.tsx
  src/css/style.css
Due: biome, eslint

Shorten navigation labels and prevent the desktop menu from wrapping.
  src/components/Header.test.tsx
  src/components/Header.tsx
  src/css/style.css
Due: biome, eslint

Tighten the collapsed navigation rows and drop their vertical dividers.
  src/css/style.css
Due: none

Left-align the collapsed account menu with the other navigation rows.
  src/css/style.css
Due: none

Align the vite-plus-core alias and mise CLI pin with vite-plus 0.3.2.
  .mise/config.toml
  AGENTS.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Add a private R2 image gateway with deterministic Imgur fallback.
  .gitignore
  package.json
  test/imageBackfillCore.test.ts
  vite.config.ts
  workers/images/src/index.test.ts
  workers/images/src/index.ts
  workers/images/tsconfig.json
  workers/images/wrangler.jsonc
Due: biome, eslint

Route legacy image reads through the configurable R2 gateway.
  src/components/BlueprintImage.test.tsx
  src/components/BlueprintImage.tsx
  src/components/BlueprintThumbnail.tsx
  src/components/EditBlueprint.tsx
  src/components/search/RestBlueprintThumbnail.tsx
  src/helpers/buildImageUrl.test.ts
  src/helpers/buildImageUrl.ts
  src/hooks/useEnrichedPaginatedSummaries.test.tsx
  src/utils/enrichBlueprint.test.ts
  src/utils/enrichBlueprint.ts
  src/utils/enrichBlueprintSummary.test.ts
  src/utils/enrichBlueprintSummary.ts
  src/utils/enrichPaginatedBlueprintSummaries.test.ts
  src/vite-env.d.ts
Due: biome, eslint

Add Firebase ID token verification and cached Google key lookup to the image Worker.
  workers/images/src/firebaseAuth.test.ts
  workers/images/src/firebaseAuth.ts
  workers/images/src/googlePublicKeys.test.ts
  workers/images/src/googlePublicKeys.ts
Due: biome, eslint

Add magic-byte image validation with dimension and decompression limits.
  workers/images/src/imageValidation.test.ts
  workers/images/src/imageValidation.ts
Due: biome, eslint

Add an authenticated R2 image upload endpoint, disabled by default.
  workers/images/src/index.test.ts
  workers/images/src/index.ts
  workers/images/src/uploads.test.ts
  workers/images/src/uploads.ts
  workers/images/wrangler.jsonc
Due: biome, eslint

Serve uploaded images through the gateway without an Imgur fallback.
  workers/images/src/index.test.ts
  workers/images/src/index.ts
  workers/images/src/uploads.ts
Due: biome, eslint
