Repository FactorioBlueprints/factorio-prints: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

biome:
  name: biome
  entry: npx biome format --write
  language: system

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: bash -c 'npx --no-install eslint --fix "$@"' --
  language: system

Replace the Imgur URL field with an image upload on Edit and Create.
  src/components/Create.tsx
  src/components/EditBlueprint.tsx
  src/components/ImageUpload.test.tsx
  src/components/ImageUpload.tsx
  src/helpers/uploadImage.test.ts
  src/helpers/uploadImage.ts
  src/hooks/useCreateBlueprint.test.tsx
  src/hooks/useCreateBlueprint.ts
  src/hooks/useTagOperations.cache-consistency.test.tsx
  src/hooks/useUpdateBlueprint.test.tsx
  src/hooks/useUpdateBlueprint.ts
Due: biome, eslint

Copy recently saved blueprints' Imgur images into R2 every ten minutes from a Cloudflare Cron Trigger.
  workers/images/src/index.test.ts
  workers/images/src/index.ts
  workers/images/src/recentImageCopy.test.ts
  workers/images/src/recentImageCopy.ts
  workers/images/wrangler.jsonc
Due: biome, eslint

Show the maintained editor's current icon on the editor button.
  public/icons/fbe.png
Due: none

Probe the gateway's Imgur fallback with an Imgur-shaped id, since long ids are now R2-only.
  scripts/verifyImageGateway.ts
  test/imageGatewayVerification.test.ts
Due: biome, eslint

Read blueprint images through the R2 image gateway instead of i.imgur.com, so they load where Imgur is blocked.
  src/components/single/ImgurThumbnail.test.tsx
  src/components/single/ImgurThumbnail.tsx
  src/helpers/buildImageUrl.test.ts
  src/helpers/buildImageUrl.ts
Due: biome, eslint

Serve an upload's R2 original for its thumbnail and large sizes until the cron copies them, so fresh uploads load where Imgur is blocked.
  workers/images/src/index.test.ts
  workers/images/src/index.ts
Due: biome, eslint

Deploy the image Worker to production on every push that changes it.
  .github/workflows/deploy-image-worker.yml
Due: prettier

Path conditions:
  biome: any of: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$, but not: package(-lock)?\.json
  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  eslint: any of: \.(js|jsx|ts|tsx|mjs|cjs)$
