Repository FactorioBlueprints/factorio-prints: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

biome:
  name: biome
  entry: npx biome format --write
  language: system

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: bash -c 'npx --no-install eslint --fix "$@"' --
  language: system

Improve blueprint grid loading and thumbnail rendering performance.
  src/components/AdminUserView.tsx
  src/components/BlueprintGrid.test.tsx
  src/components/BlueprintGrid.tsx
  src/components/BlueprintThumbnail.test.tsx
  src/components/BlueprintThumbnail.tsx
  src/components/MostFavoritedGrid.tsx
  src/components/MyCollectionGrid.tsx
  src/components/MyFavoritesGrid.tsx
  src/components/SingleTagGrid.tsx
  src/components/UserFavoritesGrid.tsx
  src/components/UserGrid.tsx
  src/css/style.css
Due: biome, eslint

Replace no-store cache policy with revalidation and immutable Vite assets.
  firebase.json
  public/_headers
  src/hostingCachePolicy.test.ts
  wrangler.toml
Due: biome, eslint

Remove unsupported build settings from the Cloudflare Pages configuration.
  package-lock.json
  wrangler.toml
Due: none

Pin Cloudflare Pages builds to the repository Node.js version.
  .node-version
Due: none

Restore JavaScript service worker tombstones at historical paths.
  .gitignore
  firebase.json
  package.json
  public/_headers
  public/service-worker.js
  public/service-worker.ts
  public/serviceWorker.js
  public/sw.js
  src/hostingCachePolicy.test.ts
  src/serviceWorkerTombstones.test.ts
  tsconfig.json
Due: biome, eslint

Fix persisted query restoration and bound cache retention to 24 days.
  src/hooks/useBlueprintTags.ts
  src/providers/QueryProvider.test.tsx
  src/providers/QueryProvider.tsx
  src/providers/queryClient.ts
  src/queries/blueprintQueries.ts
Due: biome, eslint

Move persisted query compression and comparison into the storage worker.
  src/localStorage.persistence.ts
  src/localStorage.test.ts
  src/localStorage.ts
  src/localStorage.worker.test.ts
  src/localStorage.worker.ts
  src/utils/dataCompression.ts
Due: biome, eslint

Reduce Sentry startup cost by removing eager heavyweight integrations.
  package-lock.json
  package.json
  src/components/DisqusErrorBoundary.tsx
  src/components/ErrorBoundary.tsx
  src/hooks/useSentryUser.ts
  src/localStorage.ts
  src/main.tsx
  src/providers/QueryProvider.tsx
  src/router.tsx
  src/sentryConfig.test.ts
  src/utils/enrichBlueprint.ts
Due: biome, eslint

Run the service worker tombstone verification in the Node.js test environment.
  package-lock.json
  src/serviceWorkerTombstones.test.ts
Due: biome, eslint

Surface provider authentication errors and quiet IndexedDB production diagnostics.
  src/components/auth/AuthenticationForm.test.tsx
  src/components/auth/AuthenticationForm.tsx
  src/hooks/useAuthProviders.tsx
  src/localStorage.ts
  src/localStorage.worker.ts
  src/utils/dataCompression.ts
Due: biome, eslint

Validate blueprint route identifiers before starting Firebase queries.
  src/routes/view.$blueprintId.tsx
  src/schemas.test.ts
  src/schemas.ts
Due: biome, eslint

Load the IndexedDB fallback store without a dynamic module boundary.
  src/localStorage.ts
Due: biome, eslint

Attach recent router preload lifecycle diagnostics to TanStack match errors.
  src/main.tsx
  src/router.test.ts
  src/router.tsx
  src/sentryConfig.test.ts
Due: biome, eslint

Disable the IndexedDB worker after its first session-level failure.
  src/localStorage.test.ts
  src/localStorage.ts
Due: biome, eslint

Prevent TanStack preload races by disabling intent preloads and deduplicating requests.
  package-lock.json
  src/router.test.ts
  src/router.tsx
Due: biome, eslint

Deploy production continuously from branch pushes without GitHub releases.
  .github/workflows/create-tag.yml
  .github/workflows/deploy-cloudflare.yml
  .github/workflows/deploy.yml
  .github/workflows/push.yml
  src/deploymentPayload.test.ts
  vite.config.ts
Due: biome, prettier, eslint

Preserve failed Vite import rejections for TanStack route recovery.
  package-lock.json
  src/main.tsx
  src/utils/vitePreloadError.test.ts
  src/utils/vitePreloadError.ts
Due: biome, eslint

Filter expected Firebase user transaction disconnect warnings from Sentry.
  src/main.tsx
  src/utils/sentryFiltering.test.ts
  src/utils/sentryFiltering.ts
Due: biome, eslint

Fix truncated blueprint titles after removing legacy Font Awesome CSS.
  src/components/BlueprintThumbnail.test.tsx
  src/components/BlueprintThumbnail.tsx
  src/components/search/RestBlueprintThumbnail.test.tsx
  src/components/search/RestBlueprintThumbnail.tsx
Due: biome, eslint

Restore the homepage blueprint page size to 60 items.
  src/components/BlueprintGrid.test.tsx
  src/components/BlueprintGrid.tsx
Due: biome, eslint

Add Vite+ prerequisite to the mise development toolchain.
  .mise/config.toml
Due: none

Update mise development tool versions to match the TypeScript template.
  .mise/config.toml
Due: none

Sync pre-commit hooks with the TypeScript project template.
  .pre-commit-config.yaml
  .vite-hooks/pre-commit
  package-lock.json
  package.json
  vite.config.ts
Due: biome, prettier, eslint

Migrate frontend dependencies and scripts from npm to the Vite+ pnpm catalog.
  .fallowrc.json
  functions/package.json
  justfile
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/BlueprintPreview.tsx
  src/components/blueprint/panels/info/BasicInfoPanel.tsx
Due: biome, prettier, eslint

Path conditions:
  biome: any of: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$, but not: package(-lock)?\.json
  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  eslint: any of: \.(js|jsx|ts|tsx|mjs|cjs)$
