Repository FactorioBlueprints/factorio-prints: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-yaml
            args: ['--allow-multiple-documents']
          - id: check-json
            # Exclude JSONC files (JSON with Comments) as they need comment support
            exclude: "tsconfig.*\\.json|package-lock\\.json|biome\\.jsonc"
          - id: check-toml
          - id: check-xml
          - id: end-of-file-fixer
            exclude: "package-lock\\.json|^\\.idea/"
          - id: trailing-whitespace
            exclude: "package-lock\\.json|^\\.idea/"
          - id: check-added-large-files
            args: ['--maxkb=1000']
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: detect-private-key
          - id: mixed-line-ending
            args: ['--fix=lf']

    - repo: local
      hooks:
          - id: biome
            name: biome
            entry: npx biome format --write
            language: system
            types: [file]
            files: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$
            exclude: "package(-lock)?\\.json"

          - id: prettier
            name: prettier
            entry: npx prettier --write
            language: system
            types_or: [yaml, markdown, html]

          - id: eslint
            name: eslint
            entry: bash -c 'npx --no-install eslint --fix "$@"' --
            language: system
            files: \.(js|jsx|ts|tsx|mjs|cjs)$
            types: [file]

Fix mise trust error in Cloudflare Pages deploy workflows.
  .github/workflows/cloudflare-pages.yml
  .github/workflows/deploy-cloudflare.yml
Due: prettier

Disable mise for Cloudflare Pages deploy step.
  .github/workflows/cloudflare-pages.yml
  .github/workflows/deploy-cloudflare.yml
Due: prettier

Add API client with automatic fallback support and migrate to centralized API client.
  src/api/apiClient.ts
  src/components/EfficientEditBlueprint.tsx
  src/components/grid/BlueprintGrid.js
  src/components/grid/DuplicateBlueprintGrid.js
  src/components/grid/MostFavoritedGrid.js
  src/components/grid/MyFavoritesGrid.js
  src/components/grid/UserGrid.js
  src/components/search/SearchResults.tsx
  src/components/single/BlueprintTitles.tsx
  src/components/single/BlueprintVersion.tsx
  src/components/single/FavoriteButton.tsx
  src/components/single/NewRequirementsHistogram.tsx
  src/hooks/useAuthored.js
  src/hooks/useBlueprint.ts
  src/hooks/useBlueprintStringSha.js
  src/hooks/useDisplayName.ts
  src/hooks/useEntityOptions.js
  src/hooks/useFavorites.js
  src/hooks/useIsFavorite.js
  src/hooks/useRecipeOptions.js
  src/hooks/useSimpleTagOptions.js
  src/hooks/useTagOptions.ts
Due: biome, eslint

Fix merge-group workflow to properly report job failures.
  .github/workflows/merge-group.yml
Due: prettier

Downgrade eslint to v9 and remove eslint-plugin-react.
  package-lock.json
  package.json
Due: none

Fix TanStack Store API usage for updated subscribe and useStore signatures.
  src/hooks/useAdvancedSearch.ts
  src/store/advancedSearchStore.ts
  src/store/searchParamsStore.ts
Due: biome, eslint

Fix all-checks gate job to fail instead of skip.
  .github/workflows/merge-group.yml
Due: prettier

Skip favorite count update when blueprint no longer exists.
  functions/src/index.ts
Due: biome, eslint

Replace manual all-checks logic with re-actors/alls-green action.
  .github/workflows/merge-group.yml
Due: prettier

Align GitHub Actions workflows with typescript-template.
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
Due: prettier

Implement blueprint collection ux
  functions/src/index.ts
  package-lock.json
  src/api/firebase.ts
  src/components/BlueprintThumbnail.tsx
  src/components/Header.tsx
  src/components/MyCollectionGrid.tsx
  src/components/SingleBlueprint.tsx
  src/components/single/BlueprintActions.tsx
  src/hooks/useCreateBlueprint.test.tsx
  src/hooks/useCreateBlueprint.ts
  src/hooks/useDeleteBlueprint.test.tsx
  src/hooks/useToggleCollectionMutation.test.tsx
  src/hooks/useToggleCollectionMutation.ts
  src/hooks/useUpdateBlueprint.ts
  src/hooks/useUser.ts
  src/router.test.ts
  src/routes/collection.tsx
  src/schemas.test.ts
  src/schemas.ts
  src/utils/collectionBlueprintBook.test.ts
  src/utils/collectionBlueprintBook.ts
  src/utils/enrichUser.test.ts
Due: biome, eslint

Derive synthetic book version from contained blueprints and fix linter errors.
  src/components/MyCollectionGrid.tsx
  src/hooks/useToggleCollectionMutation.test.tsx
  src/utils/collectionBlueprintBook.test.ts
  src/utils/collectionBlueprintBook.ts
Due: biome, eslint

Add npm cache to CI workflow to avoid registry rate-limit 403 errors.
  .github/workflows/merge-group.yml
Due: prettier

Switch Cloudflare deploy from pages-action to wrangler-action to fix mise trust error.
  .github/workflows/cloudflare-pages.yml
  .github/workflows/deploy-cloudflare.yml
Due: prettier

Regenerate package-lock.json to fix stale peer-dependency cache.
  package-lock.json
Due: none

Allow moderators to delete blueprints from any user's collection
  database.rules.json
  functions/package-lock.json
  functions/src/index.ts
  package-lock.json
Due: biome, eslint

fixup! Allow moderators to delete blueprints from any user's collection
  functions/package-lock.json
  package-lock.json
Due: none

Allow moderators to delete blueprints from any user's collection
  database.rules.json
  functions/src/index.ts
Due: biome, eslint

Add Factorio 2.0.x and 2.1.x game versions to the search version picker.
  src/components/search/gameVersions.json
Due: biome

Upgrade to TypeScript 6 and remove the deprecated base URL option.
  package-lock.json
  package.json
  tsconfig.json
Due: biome

Group Font Awesome upgrades and update packages to version 7.3.1.
  .github/dependabot.yml
  package-lock.json
  package.json
Due: prettier

Update the TanStack dependency group to compatible patch versions.
  package-lock.json
  package.json
Due: none

Restore JavaScript service worker tombstones at historical paths.
  .gitignore
  firebase.json
  package.json
  public/_headers
  public/service-worker.js
  public/service-worker.ts
  public/serviceWorker.js
  public/sw.js
  src/hostingCachePolicy.test.ts
  src/serviceWorkerTombstones.test.ts
  tsconfig.json
Due: biome, eslint

Fix persisted query restoration and bound cache retention to 24 days.
  src/hooks/useBlueprintTags.ts
  src/providers/QueryProvider.test.tsx
  src/providers/QueryProvider.tsx
  src/providers/queryClient.ts
  src/queries/blueprintQueries.ts
Due: biome, eslint

Reduce Sentry startup cost by removing eager heavyweight integrations.
  package-lock.json
  package.json
  src/components/DisqusErrorBoundary.tsx
  src/components/ErrorBoundary.tsx
  src/hooks/useSentryUser.ts
  src/localStorage.ts
  src/main.tsx
  src/providers/QueryProvider.tsx
  src/router.tsx
  src/sentryConfig.test.ts
  src/utils/enrichBlueprint.ts
Due: biome, eslint

Move persisted query compression and comparison into the storage worker.
  src/localStorage.persistence.ts
  src/localStorage.test.ts
  src/localStorage.ts
  src/localStorage.worker.test.ts
  src/localStorage.worker.ts
  src/utils/dataCompression.ts
Due: biome, eslint
