Repository FactorioBlueprints/factorio-prints: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-yaml
            args: ['--allow-multiple-documents']
          - id: check-json
            # Exclude JSONC files (JSON with Comments) as they need comment support
            exclude: "tsconfig.*\\.json|package-lock\\.json|biome\\.jsonc"
          - id: check-toml
          - id: check-xml
          - id: end-of-file-fixer
            exclude: "package-lock\\.json|^\\.idea/"
          - id: trailing-whitespace
            exclude: "package-lock\\.json|^\\.idea/"
          - id: check-added-large-files
            args: ['--maxkb=1000']
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: detect-private-key
          - id: mixed-line-ending
            args: ['--fix=lf']

    - repo: local
      hooks:
          - id: biome
            name: biome
            entry: npx biome format --write
            language: system
            types: [file]
            files: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$
            exclude: "package(-lock)?\\.json"

          - id: prettier
            name: prettier
            entry: npx prettier --write
            language: system
            types_or: [yaml, markdown, html]

          - id: eslint
            name: eslint
            entry: bash -c 'npx --no-install eslint --fix "$@"' --
            language: system
            files: \.(js|jsx|ts|tsx|mjs|cjs)$
            types: [file]

Improve src/components/WelcomeBanner.tsx.
  src/components/WelcomeBanner.tsx
Due: biome, eslint

Fix worker.onerror console logging to extract meaningful error information.
  src/localStorage.ts
Due: biome, eslint

Remove data duplication between blueprints and blueprintSummaries collections.
  src/api/firebase.ts
  src/hooks/useEnrichedBlueprint.test.ts
  src/hooks/useEnrichedBlueprint.ts
  src/hooks/useToggleFavoriteMutation.test.tsx
  src/hooks/useToggleFavoriteMutation.ts
  src/routes/view.$blueprintId.tsx
  src/utils/enrichBlueprint.ts
Due: biome, eslint

Add Firebase index for tags to improve query performance.
  database.rules.json
Due: biome

Enforce boolean validation for Firebase favorites and blueprints.
  database.rules.json
Due: biome

Fix Failed to fetch errors being sent to Sentry.
  src/api/firebase.ts
  src/main.tsx
  src/providers/queryClient.ts
  src/router.tsx
  src/routes/view.$blueprintId.tsx
Due: biome, eslint

Filter Sentry cross-origin CSS warnings.
  src/main.tsx
Due: biome, eslint

Remove duplicate console.warn statements in IndexedDB operations.
  src/localStorage.ts
Due: biome, eslint

Fix React 19 removeChild error with Bootstrap tooltips.
  src/components/BlueprintThumbnail.tsx
  src/components/SafeOverlayTrigger.tsx
  src/main.tsx
  src/utils/cleanupTooltips.ts
Due: biome, eslint

Add Firebase database index rules for performance optimization.
  database.rules.json
Due: biome

Add Firebase Cloud Functions to maintain numberOfFavorites count.
  eslint.config.ts
  firebase.json
  functions/.gitignore
  functions/package.json
  functions/src/index.ts
  functions/tsconfig.json
Due: biome, eslint

Remove obsolete entitiesWithIcons-old.js file.
  src/data/entitiesWithIcons-old.js
Due: biome, eslint

Fix IndexedDB timeout errors for anonymous users.
  src/localStorage.ts
Due: biome, eslint

Fix Sentry deployment emails to only trigger for production deployments.
  .github/workflows/cloudflare-pages.yml
  vite.config.ts
Due: biome, prettier, eslint

Enable TypeScript noImplicitReturns option.
  src/main.tsx
  tsconfig.json
  vite.config.ts
Due: biome, eslint

Enable noImplicitThis compiler option.
  tsconfig.json
Due: biome

Fix empty Blueprint context logging causing Sentry validation errors.
  src/schemas.ts
Due: biome, eslint

Fix Safari WorkerError with improved error handling and context extraction.
  src/localStorage.ts
  src/localStorage.worker.ts
Due: biome, eslint

Fix DISQUS 'Method not found' error by removing problematic cleanup code.
  src/components/SingleBlueprint.tsx
Due: biome, eslint

Fix Sentry logging to serialize objects before console output.
  src/schemas.test.ts
  src/schemas.ts
Due: biome, eslint

Fix blueprint book validation for empty slots.
  src/schemas.ts
Due: biome, eslint
