Repository FactorioBlueprints/factorio-prints: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-yaml
            args: ['--allow-multiple-documents']
          - id: check-json
            # Exclude JSONC files (JSON with Comments) as they need comment support
            exclude: "tsconfig.*\\.json|package-lock\\.json|biome\\.jsonc"
          - id: check-toml
          - id: check-xml
          - id: end-of-file-fixer
            exclude: "package-lock\\.json|^\\.idea/"
          - id: trailing-whitespace
            exclude: "package-lock\\.json|^\\.idea/"
          - id: check-added-large-files
            args: ['--maxkb=1000']
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: detect-private-key
          - id: mixed-line-ending
            args: ['--fix=lf']

    - repo: local
      hooks:
          - id: biome
            name: biome
            entry: npx biome format --write
            language: system
            types: [file]
            files: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$
            exclude: "package(-lock)?\\.json"

          - id: prettier
            name: prettier
            entry: npx prettier --write
            language: system
            types_or: [yaml, markdown, html]

          - id: eslint
            name: eslint
            entry: bash -c 'npx --no-install eslint --fix "$@"' --
            language: system
            files: \.(js|jsx|ts|tsx|mjs|cjs)$
            types: [file]

Fix blueprint book validation for empty slots.
  src/schemas.ts
Due: biome, eslint

Fix IndexedDB blob write failures with compression and error handling.
  src/localStorage.ts
  src/utils/dataCompression.ts
Due: biome, eslint

Fix removeChild error in tooltip cleanup with defensive check.
  src/utils/cleanupTooltips.ts
Due: biome, eslint

Fix schema validation error for nested blueprint books with undefined blueprints field.
  src/components/blueprint/panels/info/ExtraInfoPanel.tsx
  src/schemas.test.ts
Due: biome, eslint

Fix unhandled promise rejection in Firebase transactions.
  src/routes/__root.tsx
Due: biome, eslint

Add Cloudflare as second production environment alongside Firebase.
  .github/workflows/deploy-cloudflare.yml
  justfile
  vite.config.ts
Due: biome, prettier, eslint

Fix IndexedDB connection error with graceful localStorage fallback.
  src/localStorage.ts
  src/providers/QueryProvider.tsx
Due: biome, eslint

Add Cloud Functions build and deployment to GitHub Actions workflows.
  .github/workflows/deploy.yml
  .github/workflows/merge-group.yml
  biome.jsonc
  eslint.config.ts
  firebase.json
  functions/.gitignore
  functions/package-lock.json
  functions/package.json
  functions/src/index.ts
  functions/tsconfig.json
Due: biome, prettier, eslint

Refactor bash scripts to organized just recipes.
  .gitignore
  .just/analysis.just
  .just/firebase.just
  deploy.sh
  detect-author-self-favorite.sh
  detect-summary-mismatch.sh
  justfile
  package-lock.json
  set-tags.sh
Due: none

Sync build and linter configuration with other projects.
  tsconfig.json
Due: biome

Fix restoreClient error by adding validation checks for persister objects.
  src/localStorage.ts
  src/providers/QueryProvider.tsx
Due: biome, eslint

Fix React DOM removeChild error in tooltip cleanup.
  src/components/SafeOverlayTrigger.tsx
  src/utils/cleanupTooltips.ts
Due: biome, eslint

Improve timeout windows and diagnostics around IndexedDB timeout issues.
  src/localStorage.ts
Due: biome, eslint

Fix query cache compression stack overflow.
  src/utils/dataCompression.test.ts
  src/utils/dataCompression.ts
Due: biome, eslint

Filter cross-origin CSS errors from Sentry capture.
  src/main.tsx
Due: biome, eslint

Update just version to 1.42.4.
  .mise/config.toml
Due: none

Fix database rules indentation from tabs to spaces.
  .pre-commit-config.yaml
  biome.jsonc
Due: prettier

Update build configuration to exclude Sentry secrets for precommit checks.
  justfile
Due: none

Improve error extraction from worker events in Safari.
  src/localStorage.ts
Due: biome, eslint

Fix DOM manipulation errors in tooltip components.
  src/components/SafeOverlayTrigger.tsx
  src/main.tsx
  src/utils/cleanupTooltips.ts
Due: biome, eslint

Fix removeChild DOM error in MarkdownWithRichText component.
  src/components/core/text/MarkdownWithRichText.tsx
Due: biome, eslint
